.imageContainer {
	--desktopOffset: 0;
	width: calc(100% + var(--desktopOffset, 0));
	transform: translateX(calc(var(--desktopOffset, 0) * (-1)));

	@screen lg {
		--desktopOffset: 2rem;
	}

	@screen 2xl {
		--desktopOffset: 4rem;
	}

	& > div {
		@apply relative w-full h-0;
		$ratio: 852/734;
		padding-bottom: 100% / $ratio;

		img {
			@apply absolute w-full h-full object-cover object-center;
		}
	}
}

.heroSection {
	@screen lg {
		--image-wrapper-width: (1086/1920);

		.imageContainerWrapper {
			width: calc(100% * var(--image-wrapper-width));
		}

		.textContainerWrapper {
			width: calc(100% - 100% * var(--image-wrapper-width));
		}

		&:global(.scrollytelling) {
			@apply h-screen max-w-none p-0;

			.imageContainerWrapper {
				@apply h-full;

				.imageContainer {
					@apply h-full;

					& > div {
						@apply h-full pb-0;
					}
				}
			}
		}
	}
}
