.imageContainer {
	--desktop-offset: 0;
	--hero-image-ratio: (852/734);
	width: calc(100% + var(--desktop-offset, 0));
	transform: translateX(calc(var(--desktop-offset, 0) * (-1)));

	@screen lg {
		--desktop-offset: 2rem;
	}

	@screen 2xl {
		--desktop-offset: 4rem;
	}

	& > div {
		@apply relative w-full h-0;
		padding-bottom: calc(100% / var(--hero-image-ratio));

		img {
			@apply absolute w-full h-full object-cover;
			object-position: center top;
		}
	}
}

.heroSection {
	&:global(.scrollytelling) {
		@apply max-w-none p-0 lg:h-screen;

		.imageContainer {
			--hero-image-ratio: (1/1);

			@screen sm {
				--hero-image-ratio: (16/14);
			}

			@screen md {
				--hero-image-ratio: (16/12);
			}
		}

		@screen lg {
			// use full height instead of image-ratio dependant height
			.imageContainerWrapper {
				@apply h-full;

				.imageContainer {
					@apply h-full;

					& > div {
						@apply h-full pb-0;
					}
				}
			}
		}
	}

	@screen lg {
		--image-wrapper-width: (1086/1920);

		.imageContainerWrapper {
			width: calc(100% * var(--image-wrapper-width));
		}

		.textContainerWrapper {
			width: calc(100% - 100% * var(--image-wrapper-width));
		}
	}
}
