.imageContainerSmall,
.imageContainerBig {
	& > div {
		@apply relative;
		$ratio: 770/523;
		padding-bottom: 100% / $ratio;

		img {
			@apply absolute w-full h-full object-cover object-center;
		}
	}
}

.imageContainerSmall {
	@apply mb-8 lg:mb-0 w-2/3 lg:w-auto;
}

.imageContainerBig {
	@apply mt-8 lg:mt-0 w-full lg:w-auto;
}

@screen lg {
	.imageContainerSmall,
	.textContainerSmall {
		width: 100% / (1290/410);
	}

	.imageContainerBig {
		width: 100% / (1290/770);
	}
}
