.svg {
	width: 100%;
}

.path {
	fill: transparent;
	@apply stroke-current text-gray-stroke;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	stroke-width: 2px;
	$path-total-length: 106; // get this by calling pathElement.getTotalLength() in the browser
	stroke-dasharray: $path-total-length;
	stroke-dashoffset: $path-total-length;
	animation: drawStroke 0.5s ease;
	animation-fill-mode: forwards;
}

@keyframes drawStroke {
	to {
		stroke-dashoffset: 0;
	}
}
