p,
ul {
	&:not(:last-child) {
		@apply mb-4;
	}
}

.p-no-mb {
	p {
		margin-bottom: 0;
	}
}

.last-p-no-mb {
	p:last-of-type {
		margin-bottom: 0;
	}
}

ul {
	list-style-type: '-';
	list-style-position: outside;

	li {
		@apply ml-2 pl-2;
	}
}
